<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697586260535-uut5kul0s6cnqsa28pisunlms4rfn2tq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697586260535-uut5kul0s6cnqsa28pisunlms4rfn2tq</string>
	<key>API_KEY</key>
	<string>AIzaSyDPhJpuWyjYp_ZGSqxSLCtaH5s3Y979V20</string>
	<key>GCM_SENDER_ID</key>
	<string>697586260535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-shop-app-365508</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-shop-app-365508.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697586260535:ios:1bd37790f758a7824c7db2</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-shop-app-365508-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>